body {
    font-family: "Poppins", sans-serif;
    color: #444444;
}

table tr:first-of-type td {
    border-top: 0;
}

.brand-link {
    background-color: white;
}

[class*=sidebar-dark-] {
    background-color: #3a4b83;
}

[class*=sidebar-dark-] * {
    color: #fff;
}

.text-primary {
    color: #3a4b83 !important;
}

nav.main-header {
    box-shadow: 0 0px 1px rgba(0, 0, 0, .25), 0 4px 15px rgba(0, 0, 0, .22) !important;
}

.brand-link .brand-image {
    max-height: 90px;
}

nav.main-header {
    min-height: 120px;
}

.navbar-light .navbar-nav .nav-link,
nav.main-header a {
    color: #3a4b83;
    font-weight: 600;
}

.brand-link {
    min-height: 120px;
}

.brand-link .brand-image {
    float: unset;
    margin: 0 auto;
    display: block;
}

[class*=sidebar-dark] .brand-link {
    margin: 0;
    padding: 0;
}

.brand-link .brand-image {
    padding-top: 25px;
}

.sidebar-mini.sidebar-collapse .main-sidebar.sidebar-focused .brand-link,
.sidebar-mini.sidebar-collapse .main-sidebar:hover .brand-link,
.sidebar-mini.sidebar-collapse .main-sidebar:hover {
    width: 4.6rem;
}

.checked {
    color: orange;
}

.nav-sidebar-arrow {
    position: absolute;
    top: 55%;
    right: -17px;
    cursor: pointer;
    background: #ffcf42;
    border-radius: 100% 100%;
    padding: 0;
}

.nav-sidebar-arrow img {
    max-width: inherit;
    max-height: 40px;
}

.sidebar-collapse .nav-sidebar-arrow img {
    transform: rotate(178deg);
}

.content-header h1 {
    font-size: 3.5rem;
}

.text-site-primary {
    color: #3a4b83;
}


.card-body {
    padding: 5px 5px;
}

.img-container {
    background: #f4f6f9;
    display: block;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 20px;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    box-shadow: unset;
    color: #ffcf42;
    background-color: unset;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active *,
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active * {
    color: #ffcf42;
}

.img-container {
    background: #f4f6f9;
    display: block;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 20px;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px;
    border-radius: 7px;
}

.img-container img {
    width: auto;
    height: auto;
    max-width: 100%;
    height: auto;
}

.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.card-body {
    padding: 5px 15px;
}

.color-circle {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 100vw;
}

.color-red {
    background: red;
}

input.form-control,
select.form-control {
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0;
    color: #8aa7d7;
    border-color: #4a7ed6;
    padding-left: 3px;
    background: transparent;

    background-color: transparent !important;
}

.form-control:focus {
    color: #495057;
    background-color: transparent;
    border-color: #80bdff;
    color: #8aa7d7 !important;
}

.standard-img-size {
    height: 100px;
    margin: 5px;
}

.fit-content {
    width: fit-content;
}

/* Inventory CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* body {
    font-family: "Poppins", sans-serif;
    color: #444444;
} */

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 0 0 54px 0;
}

.section-products .header {
    margin-bottom: 50px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444;
}

.section-products .single-product {
    margin-bottom: 26px;
}

.section-products .single-product .part-1 {
    position: relative;
    height: 290px;
    max-height: 290px;
    margin-bottom: 20px;
    overflow: hidden;
}

.section-products .single-product .part-1::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s;
}

.section-products .single-product:hover .part-1::before {
    transform: scale(1.2, 1.2) rotate(5deg);
}

.section-products #product-1 .part-1::before {
    background: url("https://i.ibb.co/L8Nrb7p/1.jpg") no-repeat center;
    background-size: cover;
    transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
    background: url("https://i.ibb.co/cLnZjnS/2.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-3 .part-1::before {
    background: url("https://i.ibb.co/L8Nrb7p/1.jpg") no-repeat center;
    background-size: cover;
}

.section-products #product-4 .part-1::before {
    background: url("https://i.ibb.co/cLnZjnS/2.jpg") no-repeat center;
    background-size: cover;
}

.section-products .single-product .part-1 .discount,
.section-products .single-product .part-1 .new {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
    left: 0;
    background-color: #444444;
}

.section-products .single-product .part-1 ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product:hover .part-1 ul {
    bottom: 30px;
    opacity: 1;
}

.section-products .single-product .part-1 ul li {
    display: inline-block;
    margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.section-products .single-product .part-1 ul li a:hover {
    color: #fe302f;
}

.section-products .single-product .part-2 .product-title {
    font-size: 1rem;
    color: #3a4b83;
}

.section-products .single-product .part-2 h4 {
    display: inline-block;
    font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

.disabled-product {
    background: #ccc !important;
}

/* Login Form CSS */
.login-btn {
    display: block;
    width: 100%;
    margin-top: 15px !important;
    background: #3663ae;
    border: 0;
    border-radius: 0;
    color: white;
}

/* SignUp Form CSS */
input.signup-input-fields {
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0;
    color: #8aa7d7;
    border-color: #4a7ed6;
    padding-left: 3px;
    background: transparent;
    background-color: transparent !important;
}

input.signup-input-fields::placeholder {
    color: white;
}

.signup-input-fields:focus {
    color: #495057;
    background-color: transparent;
    border-color: #80bdff;
    color: #8aa7d7 !important;
}

.signup-btn {
    padding: 5px 25px;
    display: block;
    width: 100%;
    background: #ffec00;
    border: 0;
    border-radius: 0;
    color: #000100;
    font-weight: 600;
    border: 0;
}